.diet-progress-page {
  height: 100%;
  width: 100%;
  display: flex;
  // justify-content: center;
  flex-direction: column;
}

.user-bmi-results {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  margin: 2rem;
  max-height: 25vh;
}

.diet-progress-text {
  margin: 3rem;
}

.add-weight {
  margin: 3rem 0 0 0;
}

.user-weight-results {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  margin: 2rem;
  max-height: 25vh;
}

button {
  width: 10rem;
  height: 4rem;
}

h1 {
  margin: 20px;
}
