@if(isNavbarVisible){
<mat-toolbar color="primary">
  <button
    (click)="drawer.toggle()"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <img src="../assets/logo-fitdiet.png" class="logo" [routerLink]="''" />
  <span class="spacer"></span>

  <span class="spacer"></span>
  <button
    class="profile"
    mat-fab
    matRipple
    aria-label="Example icon button with a home icon"
    [matMenuTriggerFor]="menu"
  ></button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="'moj-profil'">Mój profil</button>
    <button mat-menu-item (click)="logout()">Wyloguj</button>
  </mat-menu>
</mat-toolbar>
}

<mat-drawer-container autosize class="example-container">
  <mat-drawer #drawer opened="false" mode="over">
    <mat-nav-list>
      @for (path of menuPaths; track $index) {
      <mat-list-item (click)="drawer.toggle()" [routerLink]="path.path">
        {{ path.name }}
      </mat-list-item>

      }

      <!-- <mat-list-item
        (click)="drawer.toggle()"
        [routerLink]="'moje-preferencje'"
      >
        Moje preferencje
      </mat-list-item>
      <mat-list-item (click)="drawer.toggle()" [routerLink]="'progres-diety'">
        Kontrola postępu diety
      </mat-list-item>
      <mat-list-item (click)="drawer.toggle()" [routerLink]="'wypijana-woda'">
        Kontrola wypijanej wody
      </mat-list-item>
      <mat-list-item
        (click)="drawer.toggle()"
        [routerLink]="'panel-spolecznosciowy'"
      >
        Panel społecznościowy
      </mat-list-item>
      {{ this.userType }}
      @if(this.userType == "ADMIN"){
      <mat-list-item
        (click)="drawer.toggle()"
        [routerLink]="'zarzadzaj-uzytkownikami'"
      >
        Zarządzaj użytkownikami -->
      <!-- </mat-list-item>
      } -->
      <mat-list-item (click)="changeVisualMode()">
        Zmień motyw @if(visualmode === 'light'){
        <mat-icon>light_mode</mat-icon>
        } @else if (visualmode === 'dark'){
        <mat-icon>dark_mode</mat-icon>
        }
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
