.planned-dishes-page {
  display: flex;
  justify-content: center;
  height: max-content;
  flex-direction: column;
  background-image: url("../../../assets/calendar-background.jpg");
  background-size: cover;
}

full-calendar {
  margin: 1rem;
  width: 95%;
  height: 100%;
  background-color: white;
  opacity: 0.95;
}

h1 {
  margin: 20px;
}
