<div class="diet-progress-page">
  <div class="user-weight-results">
    <h2>Twoje pomiary ilości wypitej wody</h2>
    <canvas
      baseChart
      [datasets]="tableWaterData"
      [labels]="tableWaterLabels"
      [options]="barChartOptions"
      [legend]="barChartLegend"
    ></canvas>

    <button
      class="add-new-measurment"
      mat-raised-button
      color="primary"
      (click)="openAddNewWaterMeasurementDialog()"
    >
      Dodaj pomiar spożytej wody
    </button>
    <div class="diet-progress-text">
      <p>
        Nasz organizm nie umie trzymać wody „na zapas”. Dlatego konieczne jest
        jej regularne picie, w małych porcjach – w ciągu całego dnia. Nawet
        wtedy, gdy nie czujemy pragnienia. Aby zadbać o odpowiednie nawodnienie
        organizmu, przestrzegaj kilku zasad:
      </p>
      <ol>
        <li>Zacznij dzień od szklanki wody.</li>
        <li>
          Zabieraj wodę ze sobą wszędzie – w podróż, do pracy, na spacer, na
          plażę, na trening.
        </li>
        <li>
          Trzymaj wodę w zasięgu wzroku – w torebce, na biurku, w podręcznym
          bidonie.
        </li>
        <li>
          Wyznaczaj cele – podziel dzień na szklanki lub zaznacz na butelce, ile
          wody musisz wypić do określonej godziny.
        </li>
        <li>
          Dodaj smaku swojej wodzie – dorzuć do wody miętę lub ulubione owoce.
        </li>
        <li>
          Monitoruj picie wody – ustaw alarm w telefonie, zapisuj liczbę
          wypitych szklanek na karteczce (pomoże Ci w tym nasz licznik wypitej
          wody).
        </li>
        <li>
          Pij różnorodne płyny – oprócz wody wprowadź do jadłospisu napary
          ziołowe, herbaty, zupy, warzywa i owoce.
        </li>
        <li>Zakończ dzień szklanką wody.</li>
      </ol>
    </div>
    <!-- (chartHover)="chartHovered($event)" -->
    <!-- (chartClick)="chartClicked($event)" -->
  </div>
</div>
