<h1>Moje preferencje</h1>
<h3>
  Podstawą smacznej diety jest dobór składników tak by Ci smakowały. Wybierz
  składniki które lubisz przeciągając je do sekcji "Ulubione składniki".
  Składniki których nie lubisz lub z innych powodów nie chcesz w swojej diecie
  umieść w "Nielubiane składniki". Pamiętaj o zaznaczeniu rodzaju diety i
  zapisaniu zmian! Smacznego!
</h3>
<div class="preferences-page">
  <div class="containers">
    <div class="example-container">
      <h2>Składniki</h2>
      <div
        cdkDropList
        #ingredientsList="cdkDropList"
        [cdkDropListData]="ingredients"
        [cdkDropListConnectedTo]="[
          dislikedIngredientsList,
          ingredientsList,
          favouriteIngredientsList
        ]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        @for (item of ingredients; track item) {
        <div class="light-mode" cdkDrag>{{ item }}</div>
        }
      </div>
    </div>
  </div>
  <div class="user-containers">
    <div class="example-container">
      <h2>Nielubiane składniki</h2>
      <div
        cdkDropList
        #dislikedIngredientsList="cdkDropList"
        [cdkDropListData]="dislikedIngredients"
        [cdkDropListConnectedTo]="[
          dislikedIngredientsList,
          ingredientsList,
          favouriteIngredientsList
        ]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        @for (item of dislikedIngredients; track item) {
        <div class="light-mode" cdkDrag>{{ item }}</div>
        }
      </div>
    </div>

    <div class="example-container">
      <h2>Ulubione składniki</h2>
      <div
        cdkDropList
        #favouriteIngredientsList="cdkDropList"
        [cdkDropListData]="favouriteIngredients"
        [cdkDropListConnectedTo]="[
          dislikedIngredientsList,
          ingredientsList,
          favouriteIngredientsList
        ]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        @for (item of favouriteIngredients; track item) {
        <div class="light-mode" cdkDrag>{{ item }}</div>
        }
      </div>
    </div>
    <div>
      <mat-radio-group class="diet-options" [(ngModel)]="dietOption">
        <mat-radio-button
          color="primary"
          [value]="'standardOption'"
          [checked]="'standardOption'"
          >Czy chcesz by proponowano Ci dania standardowe?</mat-radio-button
        >
        <mat-radio-button
          color="primary"
          [value]="'vegetarianOption'"
          [checked]="'vegetarianOption'"
          >Czy chcesz by proponowano Ci dania bez mięsa?</mat-radio-button
        >
        <mat-radio-button
          color="primary"
          [value]="'glutenFreeOption'"
          [checked]="'glutenFreeOption'"
          >Czy chcesz by proponowano Ci dania bez glutenu?</mat-radio-button
        >
        <mat-radio-button
          color="primary"
          [value]="'lactoseFreeOption'"
          [checked]="'lactoseFreeOption'"
          >Czy chcesz by proponowano Ci dania bez laktozy?</mat-radio-button
        >
      </mat-radio-group>
      <button mat-raised-button color="primary" (click)="editUserIgredients()">
        Zapisz
      </button>
    </div>
  </div>
</div>
