// .main-page-container{
//   height: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-wrap: wrap;
//   gap: 2rem
// }

.main-page-container {
  height: 100%;
  display: grid;
  margin: 2rem;
  column-gap: 5rem;
  row-gap: 5rem;
  grid-template-columns: 40vw 40vw;
  grid-template-rows: 42vh 42vh;
}

mat-card {
  opacity: 0.9;
}

.widget {
  height: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
  align-content: space-between;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  background-image: url("../../../assets/fitdiet-background-image.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


