<section>
  <div class="main-page-container">
    <!-- <app-card-widget
      class="widget"
      [widgetTitle]="'Następne danie'"
      [widgetText]="'Pomidorowa'"
      [widgetSubtext]="'Pozostało '"
    >
    </app-card-widget>
    <app-card-widget
      class="widget"
      [widgetTitle]="'Następna szklanka wody'"
      [widgetText]="'planowana za '"
      [widgetSubtext]="'Pozostało do spożycia '"
      [widgetImage]="'../../../assets/water-glass.jpg'"
    >
    </app-card-widget>
    <app-card-widget class="widget" [widgetTitle]="'Postęp diety'">
    </app-card-widget>
    <app-card-widget
      class="widget"
      [widgetTitle]="'Następne planowane danie '"
      [widgetText]="nextDish"
    >
    </app-card-widget> -->
    <mat-card class="widget">
      <mat-card-header>
        <h2>Twoje pomiary ilości wypitej wody</h2>
      </mat-card-header>
      <mat-card-content>
        <div class="diet-progress-page">
          <img src="../../../assets/water-glass.jpg" />

          <mat-card-footer>
            <button class="add-weight" mat-raised-button color="primary">
              Przejdź do "Kontrola wypijanej wody"
            </button>
          </mat-card-footer>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="widget">
      <mat-card-header>
        <h2>Twoje pomiary wagi i BMI</h2>
      </mat-card-header>
      <mat-card-content>
        <div class="diet-progress-page">
          <img src="../../../assets/pexels-pixabay-53404.jpg" />
          <mat-card-footer>
            <button class="add-weight" mat-raised-button color="primary">
              Przejdź do "Kontrola postępu diety"
            </button>
          </mat-card-footer>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="widget">
      <mat-card-header>
        <h2>Twoje preferencje smakowe</h2>
      </mat-card-header>
      <mat-card-content>
        <div class="diet-progress-page">
          <img src="../../../assets/pexels-vanessa-loring-5966443.jpg" />
        </div>

        <mat-card-footer>
          <button class="add-weight" mat-raised-button color="primary">
            Przejdź do "Moje preferencje"
          </button>
        </mat-card-footer>
      </mat-card-content>
    </mat-card>
    <mat-card class="widget">
      <mat-card-header>
        <h2>Twoje pomiary ilości wypitej wody</h2>
      </mat-card-header>
      <mat-card-content>
        <div class="diet-progress-page">
          <img src="../../../assets/pexels-picjumbocom-196650.jpg" />
          <mat-card-footer>
            <button class="add-weight" mat-raised-button color="primary">
              Przejdź do "Planowane posiłki"
            </button>
          </mat-card-footer>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</section>
