.main-page-container {
  height: 100%;
  display: grid;
  margin: 2rem;
  column-gap: 5rem;
  row-gap: 5rem;
  grid-template-columns: 40vw 40vw;
  grid-template-rows: 42vh 42vh;
}

mat-card {
  opacity: 0.9;
}

mat-card-content {
  width: 75%;
}

canvas {
  margin: 2rem;
}

img {
  height: auto;
  max-width: 25vw;
  border-radius: 1rem;
  padding: 0.5rem;
}

.widget {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  background-image: url("../../../assets/fitdiet-background-image.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media only screen and (max-width: 1500px) {
  .main-page-container {
    height: 100%;
    width: 50vw;
    display: flex;
    flex-direction: column;
  }
  .widget {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
  }
  img {
    height: auto;
    max-width: 25vw;
    border-radius: 1rem;
  }

  button {
    height: auto;
  }
}

@media only screen and (max-width: 550px) {
  .canvas {
    display: none;
  }

  .widget {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
  }
}
