<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{ postTitle }}</mat-card-title>
    <mat-card-subtitle>{{ postCreator }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <h4>
      {{ postContent }}
    </h4>
  </mat-card-content>
  <mat-card-actions>
    {{ postID }}
    {{ userData.id }}
    @if(postID === userData.id){
    <button
      mat-icon-button
      aria-label="Example icon button with a vertical three dot icon"
      (click)="openDeletePostModal()"
    >
      <mat-icon>delete</mat-icon>
    </button>
    }
  </mat-card-actions>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>Dodaj komentarz</mat-panel-title>
    </mat-expansion-panel-header>

    <div class="comment-form-container">
      <form class="comment-form" [formGroup]="commentForm">
        <mat-form-field>
          <mat-label>Komentarz</mat-label>
          <textarea
            maxlength="2000"
            matInput
            formControlName="comment"
            placeholder="Tutaj napisz swój komentarz..."
          ></textarea>
        </mat-form-field>
      </form>
      <button
        mat-raised-button
        color="primary"
        (click)="addNewComment(postID!)"
      >
        Udostępnij
      </button>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle opened>
    <mat-expansion-panel-header>
      <mat-panel-title>Komentarze</mat-panel-title>
    </mat-expansion-panel-header>
    @for(comment of postComments; track comment){
    <app-user-comment
      class="user-comment"
      (fetchPostData)="fetchPostsData()"
      [postID]="postID"
      [userID]="this.userData.id"
      [commentContent]="comment.commentContent"
      [creationDate]="comment.creationDate"
      [creatorUsername]="comment.creatorUsername"
      [creatorID]="comment.creatorID"
    ></app-user-comment>
    }@empty {
    <h1>Brak komentarzy</h1>
    }
  </mat-expansion-panel>
</mat-card>
