<mat-card fxLayout fxLayoutAlign="space-between end" class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ postTitle }}</mat-card-title>
    <mat-card-subtitle>{{ postCreator }}</mat-card-subtitle>
  </mat-card-header>
  <!-- <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  /> -->
  <mat-card-content>
    <h4>
      {{ postContent }}
    </h4>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-icon-button
      color="warn"
      aria-label="Example icon button with a heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <h4>{{ postReactions }}</h4>
  </mat-card-actions>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>Dodaj komentarz</mat-panel-title>
    </mat-expansion-panel-header>

    <div class="comment-form-container">
      <form class="comment-form">
        <mat-form-field>
          <mat-label>Komentarz</mat-label>
          <textarea
            maxlength="2000"
            matInput
            placeholder="Tutaj napisz swój komentarz..."
          ></textarea>
        </mat-form-field>
      </form>
      <button mat-raised-button color="primary">Udostępnij</button>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle opened>
    <mat-expansion-panel-header>
      <mat-panel-title>Komentarze</mat-panel-title>
    </mat-expansion-panel-header>
    <app-user-comment></app-user-comment>
  </mat-expansion-panel>
</mat-card>
