<mat-stepper class="register-form" linear #stepper>
  <mat-step [stepControl]="firstFormGroup" [editable]="true">
    <form class="form" [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Podaj swoje dane osobowe i wymiary</ng-template>
      <mat-form-field>
        <mat-label>Imie</mat-label>
        <input
          matInput
          formControlName="firstName"
          placeholder="Imie"
          required
        />
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Nazwisko</mat-label>
        <input
          matInput
          formControlName="surname"
          placeholder="Nazwisko"
          required
        />
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          placeholder="Email"
          required
        />
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Hasło</mat-label>
        <input
          [type]="passwordVisibility ? 'password' : 'text'"
          matInput
          formControlName="password"
          placeholder="Hasło"
          required
        />
        <mat-icon
          (click)="passwordVisibility = !passwordVisibility"
          matSuffix
          >{{ passwordVisibility ? "visibility" : "visibility_off" }}</mat-icon
        >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Powtórz hasło</mat-label>
        <input
          [type]="repeatPasswordVisibility ? 'password' : 'text'"
          matInput
          formControlName="repeatPassword"
          placeholder="Powtórz hasło"
          required
        />
        <mat-icon
          (click)="repeatPasswordVisibility = !repeatPasswordVisibility"
          matSuffix
          >{{
            repeatPasswordVisibility ? "visibility" : "visibility_off"
          }}</mat-icon
        >
      </mat-form-field>

      <mat-label>Wybierz płeć</mat-label>
      <mat-radio-group
        aria-label="Wybierz płeć"
        formControlName="userGender"
        color="primary"
      >
        <mat-radio-button value="man">Mężczyzna</mat-radio-button>
        <mat-radio-button value="women">Kobieta</mat-radio-button>
      </mat-radio-group>

      <mat-form-field>
        <mat-label>Podaj datę urodzenia</mat-label>
        <input matInput formControlName="userAge" [matDatepicker]="picker" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker
          #picker
          startView="year"
          [startAt]="startDate"
        ></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Wybierz stopień aktywności fizycznej</mat-label>
        <mat-select formControlName="userActivityMode" matNativeControl>
          <mat-option>None</mat-option>
          <mat-option [value]="1.2">Brak aktywności, praca siedząca</mat-option>
          <mat-option [value]="1.4"
            >Niska aktywność (praca siedząca i 1-2 treningi w
            tygodniu)</mat-option
          >
          <mat-option [value]="1.6"
            >Średnia aktywność (praca siedząca i treningi 3-4 razy w
            tygodniu)</mat-option
          >
          <mat-option [value]="1.8"
            >Wysoka aktywność (praca fizyczna i 3-4 treningi w
            tygodniu)</mat-option
          >
          <mat-option [value]="2.2"
            >Bardzo wysoka aktywność (zawodowi sportowcy, osoby codziennie
            trenujące)</mat-option
          >
        </mat-select>
      </mat-form-field>

      <div class="example-label-container">
        <h2 id="example-name-label" class="example-name-label">
          Twój wzrost w centymetrach: {{ height }}cm
        </h2>
        <!-- <label class="example-value-label">{{ slider.value }}</label> -->
      </div>
      <mat-slider
        class="example-margin"
        [max]="250"
        [min]="100"
        [step]="1"
        [discrete]="true"
        [showTickMarks]="true"
      >
        <input
          matSliderThumb
          formControlName="userHeight"
          [(ngModel)]="height"
          required
          (change)="calculateBMI(height, weight)"
          #slider
        />
      </mat-slider>

      <div class="example-label-container">
        <h2 id="example-name-label" class="example-name-label">
          Twoja waga w kilogramach: {{ weight }}kg
        </h2>
        <!-- <label class="example-value-label">{{ slider.value }}</label> -->
      </div>

      <mat-slider
        class="example-margin"
        [max]="200"
        [min]="30"
        [step]="1"
        [discrete]="true"
        [showTickMarks]="true"
      >
        <input
          matSliderThumb
          formControlName="userWeight"
          [(ngModel)]="weight"
          required
          (change)="calculateBMI(height, weight)"
          #slider
        />
      </mat-slider>

      <h2 id="example-name-label" class="example-name-label">
        Twoje zapotrzebowanie kaloryczne: {{ userEnergyDemand }} kcal
      </h2>

      <h2 id="example-name-label" class="example-name-label">
        Twoje BMI: {{ userBMI }}
      </h2>

      @if (userBMI < 18.5) {
      <h2>Niedowaga</h2>
      } @else if (userBMI > 18.5 && userBMI< 24.99) {
      <h2>Wartość prawidłowa</h2>
      } @else if (userBMI > 25 && userBMI< 29.99) {
      <h2>Nadwaga</h2>
      } @else if (userBMI > 30 && userBMI< 34.99) {
      <h2>Otyłość I stopnia</h2>
      } @else if (userBMI > 35 && userBMI< 39.99) {
      <h2>Otyłość II stopnia</h2>
      } @else if (userBMI > 40) {
      <h2>Otyłość III stopnia (tzw. otyłość olbrzymia)</h2>
      } @else{
      <h2>Brak danych. Podaj niezbędne wartości powyżej</h2>
      }

      <h3>
        Badania wykazują, że osoby ze współczynnikiem w przedziale 18,5 – 24,99
        najdłużej cieszą się dobrym stanem zdrowia, jak również mają mniejsze
        ryzyko wystąpienia niektórych chorób takich jak nadciśnienie tętnicze,
        cukrzyca typu 2 czy miażdżyca. W sytuacji kiedy wskaźnik wskazuje
        niedowagę lub jest większy niż 30, czyli określa nadwagę powinno to być
        dla nas ostrzeżeniem. W tych przypadkach stan swojego zdrowia powinno
        się skonsultować z lekarzem oraz wykonać zlecone badania, które pomogą
        wykluczyć lub potwierdzić istnienie niektórych chorób istotnie
        wpływających na naszą masę ciała. Jeżeli mamy do czynienia z nadwagą
        warto zadbać o zmianę stylu życia, a przede wszystkim o codzienną,
        zbilansowaną dietę i włączenie regularnej aktywności fizycznej. W
        przypadku niedowagi zaleca się natomiast zmianę odżywania na
        pełnowartościowe, czyli bogate w witaminy, białko i składniki mineralne.
        Bagatelizowanie zbyt niskiej masy ciała może mieć bowiem negatywne
        konsekwencje dla naszego zdrowia, które często prowadzą do zaburzeń
        hormonalnych, problemów kardiologicznych, poronień w ciąży jak również
        wpływają na rozwój takich chorób jak anemia czy osteoporoza. Otyłość
        olbrzymia czyli przy współczynniku BMI wynoszącym 40 jest zawsze
        sygnałem alarmującym do podjęcia niezwłocznych działań zmierzających do
        redukcji masy ciała.
      </h3>

      <div>
        <button mat-button matStepperNext>Dalej</button>
      </div>
    </form>
  </mat-step>
  <mat-step [editable]="true">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Podaj swoje preferencje żywieniowe</ng-template>
      <div class="containers">
        <div class="example-container">
          <h2>Nielubiane składniki</h2>
          <div
            cdkDropList
            #dislikedIngredientsList="cdkDropList"
            [cdkDropListData]="dislikedIngredients"
            [cdkDropListConnectedTo]="[
              dislikedIngredientsList,
              ingredientsList,
              favouriteIngredientsList
            ]"
            class="example-list"
            (cdkDropListDropped)="drop($event)"
          >
            @for (item of dislikedIngredients; track item) {
            <div class="example-box" cdkDrag>{{ item }}</div>
            }
          </div>
        </div>
        <div class="example-container">
          <h2>Ulubione składniki</h2>
          <div
            cdkDropList
            #favouriteIngredientsList="cdkDropList"
            [cdkDropListData]="favouriteIngredients"
            [cdkDropListConnectedTo]="[
              dislikedIngredientsList,
              ingredientsList,
              favouriteIngredientsList
            ]"
            class="example-list"
            (cdkDropListDropped)="drop($event)"
          >
            @for (item of favouriteIngredients; track item) {
            <div class="example-box" cdkDrag>{{ item }}</div>
            }
          </div>
        </div>

        <mat-radio-group [formGroup]="preferencesForm">
          <mat-radio-button
            formControlName="vegetarian"
            color="primary"
            [value]="vegetarianOption"
            [checked]="vegetarianOption"
            >Czy chcesz by proponowano Ci dania bez mięsa?</mat-radio-button
          >
          <mat-radio-button
            formControlName="glutenFree"
            color="primary"
            [value]="glutenFreeOption"
            [checked]="glutenFreeOption"
            >Czy chcesz by proponowano Ci dania bez glutenu?</mat-radio-button
          >
          <mat-radio-button
            formControlName="lactoseFree"
            color="primary"
            [value]="lactoseFreeOption"
            [checked]="lactoseFreeOption"
            >Czy chcesz by proponowano Ci dania bez laktozy?</mat-radio-button
          >
        </mat-radio-group>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext (click)="onSubmit()">Next</button>
        </div>
        <div class="example-container">
          <h2>Składniki</h2>
          <div
            cdkDropList
            #ingredientsList="cdkDropList"
            [cdkDropListData]="ingredients"
            [cdkDropListConnectedTo]="[
              dislikedIngredientsList,
              ingredientsList,
              favouriteIngredientsList
            ]"
            class="example-list"
            (cdkDropListDropped)="drop($event)"
          >
            @for (item of ingredients; track item) {
            <div class="example-box" cdkDrag>{{ item }}</div>
            }
          </div>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
