<div class="edit-dish">
  <h1 mat-dialog-title>Edytuj posiłek</h1>
  <div class="edit-dish-dialog" mat-dialog-content>
    <form [formGroup]="editDishForm">
      <mat-form-field>
        <mat-label>Nazwa posiłku</mat-label>
        <input
          matInput
          formControlName="title"
          placeholder="Nazwa posiłku"
          [matAutocomplete]="auto"
          required
        />
        <mat-autocomplete #auto="matAutocomplete">
          @for (option of options; track option) {
          <mat-option [value]="option">{{ option }}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
      @if(userProposedDishes){
      <mat-radio-group
        formControlName="dishRecipe"
        aria-label="Select an option"
        class="dish-choose"
      >
        @for(dish of userProposedDishes; track dish.id){
        <mat-radio-button
          disableRipple="true"
          [value]="dish"
          [checked]="isCheckedDish(dish)"
          class="dish-card"
        >
          <app-choose-dish-card
            [dishName]="dish.name"
            [dishType]="dish.dishType"
            [dishCreator]="dish.creator"
            [dishDescription]="dish.description"
            [dishCaloricValue]="dish.caloricValue"
            [dishNutrients]="dish.nutrients"
            [dishImage]="dish.photo"
          ></app-choose-dish-card>
        </mat-radio-button>
        } @empty {
        <h1>Brak proponowanych dań</h1>
        }
      </mat-radio-group>

      @if(restCalories){
      <mat-label>Pozostanie tego dnia {{ restCalories }} kcal.</mat-label>
      } @if(restCalories<0){
      <mat-label class="calories-error">
        Uwaga! Wybierając to danie przekroczysz dzienne zapotrzebowanie
        kaloryczne i pogorszysz rezultaty diety!
      </mat-label>
      } }
      <mat-form-field
        formControlName="dishDate"
        (click)="helloInput.showPicker()"
      >
        <mat-label>Data i godzina posiłku</mat-label>
        <input
          type="datetime-local"
          placeholder="Data i godzina posiłku"
          matInput
          #helloInput
          formControlName="dishDate"
        />

        <mat-icon matSuffix fontIcon="today" />
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Anuluj</button>
    <button
      mat-button
      mat-dialog-close
      color="warn"
      (click)="deleteUserDishData()"
    >
      Usuń
    </button>
    <button
      mat-button
      mat-dialog-close
      cdkFocusInitial
      (click)="updateUserData()"
      type="submit"
    >
      Edytuj
    </button>
  </div>
</div>
