<div class="edit-dish">
  <h1 mat-dialog-title>Dodaj pomiar spożytej wody</h1>
  <div mat-dialog-content>
    <form [formGroup]="waterForm">
      <mat-form-field>
        <mat-label>Dodaj swoje spożycie wody</mat-label>
        <input matInput formControlName="weight" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Data</mat-label>
        <input readonly matInput formControlName="time" />
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Anuluj</button>
    <button mat-button mat-dialog-close type="submit">Dodaj</button>
  </div>
</div>
