<div class="add-new-measurment">
  <h1 mat-dialog-title>Dodaj nowy pomiar</h1>
  <div mat-dialog-content>
    <form [formGroup]="weightForm">
      <mat-form-field>
        <mat-label>Twoja waga</mat-label>
        <input matInput formControlName="weight" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Data</mat-label>
        <input matInput maxlength="3" readonly formControlName="time" />
      </mat-form-field>
    </form>
    <!-- @if(userBMI < 50 && userBMI > 150){
      <h1>
        Twoje obecne BMI może wskazywać na poważne problemy ze zdrowiem.
        Koniecznie skonsultuj się z lekarzem.
      </h1>
      } -->
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Anuluj</button>
    <button
      mat-button
      cdkFocusInitial
      mat-dialog-close
      type="submit"
      (click)="addNewUserMeasurment()"
    >
      Dodaj
    </button>
  </div>
</div>
