form {
  display: flex;
  flex-direction: column;
}

.dish-choose {
  display: flex;
  flex-direction: column;
  width: 100%;

}

input[type="radio"] {
  visibility: hidden;
  height: 0;
  width: 0;
}

.mat-mdc-radio-touch-target {
  visibility: hidden;
}

.calories-error {
  color: red;
}
