<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ data.dishData.dishName }}</mat-card-title>
    <mat-card-subtitle>{{ data.dishData.dishCreator }}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="{{ data.dishData.dishImage }}"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <br />
    {{ data.dishData.dishDescription }}<br />
    @for(dishInfo of data.dishData.dishNutrients; track dishInfo){
    <br />{{ dishInfo.title }}: {{ dishInfo.value }}
    }
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button mat-dialog-close>Powrót</button>
  </mat-card-actions>
</mat-card>
